<div style="width: 100%; height: 100%; text-align: center">
    <div class="container-fluid content-placeholder content-chart">
        <div class="row">
            <div class="networks pull-left">
                <ui-select ng-model="dummy.selected" theme="selectize" style="width: 180px;height: 20px"
                           title="Choose a network" append-to-body="true">
                    <ui-select-match placeholder="" >
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="dum in dummy" ng-click="selectedChannel($select.selected)">
                        <span ng-bind-html="dum"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="period pull-right">
                <span class="" ng-class="{'active-period':period=='daily'}" ng-click="showChart('daily')">DAILY</span>
                <span class="" ng-class="{'active-period':period=='week'}" ng-click="showChart('week')">WEEKLY</span>
                <span class="" ng-class="{'active-period':period=='month'}" ng-click="showChart('month')">MONTHLY</span>
            </div>
            <!--<div class="date-calendar pull-right">-->
                <!--<ui-select ng-model="dummy.selected" theme="selectize" style="width: 180px;height: 20px"-->
                           <!--title="Choose a network" append-to-body="true">-->
                    <!--<ui-select-match placeholder="Select">-->
                        <!--{{$select.selected}}-->
                    <!--</ui-select-match>-->
                    <!--<ui-select-choices repeat="dum in dummy">-->
                        <!--<span ng-bind-html="dum"></span>-->
                    <!--</ui-select-choices>-->
                <!--</ui-select>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="chart1" style="min-width: 350px; height: 520px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
