<div style="text-align: center">
    <div class="container content-placeholder links-content">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12" ng-repeat="channel in arr track by $index">
                <div class="link-card">
                    <div class="channel">
                        <i class="fa fa-facebook-f" ng-if="channel=='facebook'"></i>
                        <i class="fa fa-pinterest" ng-if="channel=='pinterest'"></i>
                        <i class="fa fa-instagram" ng-if="channel=='instagram'"></i>
                        <i class="fa fa-twitter" ng-if="channel=='twitter'"></i>
                        <i class="fa fa-globe" ng-if="channel=='blog'"></i>
                        <i class="fa fa-chain" ng-if="channel=='social'"></i>
                    </div>
                    <p class="channel-name">{{channel | uppercase}}</p>
                    <p class="channel-name-tag">Campaigns</p>
                    <div class="input-holder">
                        <input type="text" id="{{channel}}" class="form-control" value="{{channel}}">
                    </div>
                    <a class="copy-link" ng-click="copyText(data1,channel,$index)">
                        COPY LINK
                    </a>
                    <div class="tooltip" ng-show="channel==can">
                        <span class="tooltiptext" id="{{$index}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="notes">Only campaigns promoted by these links will be tracked by the dashboard.</div>
    </div>
</div>


