<nav class="navbar navbar-default header">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="header-left">-->
                    <!--<div class="collapse navbar-collapse" id="myNavbar">-->
                        <!--<ul class="nav navbar-nav">-->
                            <!--<li class="active"><a href="#">Home</a></li>-->
                            <!--<li class="dropdown">-->
                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="#">Page 1-1</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-4">-->
                <!--<div class="text-center logo-footer">-->
                    <!--<a class="navbar-brand" href="#">-->
                        <!--<img src="../img/travel-bag.png" width="45" alt="">-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 col-sm-4 hidden-xs">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span>Log Out</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</nav>
<div style="font-family:AvenirLTStd-Medium; text-align: center;font-size: 40px; color: #424242">
    {{show}}
</div>
